body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:#1e293b;
}

nav ul{
    display:flex;
    list-style:none;
}

nav li{
    margin-left:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    margin-top:150px;
}

button{
    padding:12px 25px;
    background:#3b82f6;
    border:none;
    color:white;
    cursor:pointer;
}
